<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org">
		<style>
		body{
			background-color: rgb(128, 128, 128);
		}
	</style>
	<body>
		<h1 align="center">Registrar Producto</h1>
		
		<form th:action="@{/Productos/GuardarProducto}" th:Object="${producto}"  method="post">
			<table align="center" border="2">
				<input type="hidden" th:field="*{idproductocl3}">
				<tr>
					<td>Nombre</td><td>
						<input type="text" th:field="*{nombrecl3}"  >
					</td>
				</tr>
				
				<tr>
					<td>Precio Venta</td><td>
						<input type="number" th:field="*{precioventacl3}"  >
					</td>
				</tr>
				
				<tr>
					<td>Stock</td><td>
						<input type="number" th:field="*{stockcl3}"  >
					</td>
				</tr>
				
				<tr>
					<td>Precio de Compra</td><td>
						<input type="number" th:field="*{preciocompracl3}"  >
					</td>
				</tr>
				
				<tr>
					<td>Estado</td><td>
						<input type="text" th:field="*{estadocl3}"  >
					</td>
				</tr>
				
				<tr>
					<td>Descripcion</td><td>
						<input type="text" th:field="*{descripcioncl3}"  >
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="submit" value="Guardar">
					</td>
				</tr>
				
				
			</table>
		</form>		
		
		
	</body>
	
</html>